* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* I layout.jsx har jag definierat variablerna --font-bebasNeue och
--font-roboto, så att de kan användas direkt som värden för 
font-family */

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	background: #111;
	color: #777;
	min-height: 100vh;
	font-family: var(--font-bebasNeue);
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
