.main {
	padding: 0.8rem;
}

.nav {
	display: flex;
	justify-content: space-between;
	font-weight: 500;
	line-height: 1.3;
	margin-bottom: 2.4rem;
}

.nav_left,
.nav_right {
	font-size: 1.2rem;
	text-transform: uppercase;
	justify-content: space-between;
}

.nav_folio,
.nav_availability {
	margin-bottom: 2.4rem;
}

.contact_btn {
	background: transparent;
	color: #777;
	border: 2px solid #777;
	border-radius: 45px;
	padding: 5px 20px;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
	overflow: hidden;
	transition: color 0.3s, background 0.3s;
}

.contact_btn:hover {
	/* border: 2px solid magenta;
	color: magenta; */
	border: 2px solid greenyellow;
	color: greenyellow;
}

.hero_section {
	display: flex;
	flex-direction: column;
}

.hero_title {
	margin-bottom: 2.4rem;
}

.hero_heading {
	font-size: 8rem;
	word-break: break-word;
	letter-spacing: -1px;
	line-height: 0.9;
}

.hero_hover.junior {
	font-size: 3.2rem;
}

.hero_hover {
	transition: color 0.2s;
	/* cursor: none; */
}

.hero_hover:hover {
	color: #ccc;
}

/* .hero_title {
	transition: color 0.2s;
	word-wrap: break-word;
} */

/* .hero_title .hero_hover:hover {
	color: #ccc;
} */

.about {
	align-self: flex-end;
	max-width: 50vw;
}
