.main {
	width: 100vw;
	padding: 1rem;
	margin: 0 auto;
}

.header {
	padding-top: 2rem;
	padding-bottom: 3rem;
}

.project_description {
	font-family: var(--font-roboto);
	font-size: 12px;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 2rem;
}

.image_title {
	display: none;
}

.image {
	object-fit: contain;
	width: 90vw;
	height: auto;
}

.image_title {
	display: none;
}

.links {
	padding-top: 1rem;
	display: flex;
	gap: 2rem;
}

.link {
	text-transform: uppercase;
	display: inline-block;
	color: #e1e1e1;
	transition: color 0.3s, background 0.3s;
}

.link:hover {
	text-decoration: underline;
	text-underline-offset: 6px;
	/* text-decoration-color: greenyellow; */
	cursor: pointer;
}

@media (min-width: 550px) {
	.main {
		width: 70%;
	}

	.header {
		text-align: left;
	}
	.container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 1rem;
		row-gap: 0;
	}

	.image {
		width: 20vw;
		height: auto;
	}

	.image_title {
		display: block;
		text-transform: lowercase;
		font-family: var(--font-roboto);
		font-size: 12px;
		text-align: center;
		padding-top: 1rem;
	}
}
